

html,body{width:100%;overflow-x:hidden !important;
    }

/*-------------------------------------------Navigation Menu*/

.navbar{
    margin-bottom: 0;
    padding-left: 0;
    margin-left:-20px;
    overflow: hidden;
    }

ul{ list-style-type: none;
    }

.menuitem{
    height: 120px;
    text-align: center;
    }
    
.menuitem a{
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        height: 120px;
        }

.menuitem a i{
    padding-top: 22px;
    padding-bottom: 10px;
    display: block;
    font-size: 35px;
    }
    
    .ul-menu-color{
    background-color: #ffffff;
    font-size: 20px;
    }

/*-------------------------------------------HEADER*/

@keyframes header {
    0%   {background-color: #1f8093;}
    25%  {background-color: #8d573f;}
    50%  {background-color: #617e4e;}
    100% {background-color: #e0ca5a;}
}
h1{ background-color: #1f8093;
    animation-name: header;
    animation-duration: 15s;
    height: 100px;
    padding-top: 30px;
    letter-spacing: 10px;
}


header{ background-color: #1f8093;
    font-family: 'Anton', sans-serif;
}

.bounce {
  line-height: 75px;
  text-align:center;
  opacity: 1;
  background: #e0ca5a;
  color: #1f8093;
  border-radius:50%;
  -webkit-animation: bounce .3s infinite alternate;
  -o-animation: bounce .3s infinite alternate;
  -moz-animation: bounce .3s infinite alternate;
  animation: bounce .3s infinite alternate;
}
@-webkit-keyframes bounce {
  to { transform: scale(1.2); }
}
@-o-keyframes bounce {
  to { transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}
    
/*----------------------------------------Image section*/
    .logo{
    background: url("../images/bground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}


    
/*--------------------------------------------------------Hover*/
    
.hvr-sweep-to-bottom:before{
     height: 120px;
     background-color: black;
        }
        
/*-------------------------------------------------------AboutTheBand*/
.john{
    background: url("../images/john.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #1f8093;
    border-width: 10px;
}
.paul{
    background: url("../images/paul.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #8d573f;
    border-width: 10px;
}
.ringo{
    background: url("../images/ringo.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #617e4e;
    border-width: 10px;
}
.george{
    background: url("../images/george.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    border-style: solid;
    border-color: #e0ca5a;
    border-width: 10px;
}
        
/*--------------------------------------------------------Videos*/
.video{
    font-family: 'Creepster', cursive;
    font-weight: 300;
    text-transform: uppercase;
    color: yellow;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    text-align: center;
    }
    
    
/*--------------------------------------------------------Footer*/
footer {
      height:70px;
      font-size: 25px;
      text-align: center;
       }
       
.social{   
    text-transform: uppercase;
    padding-top: 30px;
       }
       
.social a i{
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid;
    padding: 15px;
    border-radius: 900px;
    color: #ff0000;
       }
        