html,body{width:100%;overflow-x:hidden !important;
}

/*-------------------------------------------Navigation Menu*/

.container-fluid{ padding: 0;}

.navbar{
    margin-bottom: 0;
    padding-left: 0;
    margin-left:-20px;
    overflow: hidden;
   }

.navbar-default{background-color: inherit;}


.header{ border-top: none;}

ul{ list-style-type: none;}

.menuitem{
    height: 120px;
    text-align: center;
    
    }
    
.menuitem a{
        width: 100%;
        text-decoration: none;
        color: #ffffff;
        height: 120px;
        
}

.menuitem a i{
    padding-top: 22px;
    padding-bottom: 10px;
    display: block;
    font-size: 35px;
    }
    
    .ul-menu-color{
    background-color: #000;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}
    
/*----------------------------------------Image section*/
    .logo{
    background: url("../images/bground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
    
/*-----------------------------------------------Hover*/
    
.hvr-sweep-to-bottom:before{
     height: 120px;
        }
        
/*--------------------------------------------------------Footer*/
footer {
      background-color: #555;
      color: white;
    height:70px;
    overflow-x: hidden;
    position: fixed;
}
        
.social{
    font-family: 'Creepster', cursive;
    font-weight: 300;
    text-transform: uppercase;
    color: yellow;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    text-align: center;
    }